.social {
  margin: 0 0.25em;
  width: 35px;
}

.shirt-icon {
  margin: 0 15px !important;
  display: inline-block;
  vertical-align: middle;
}

.photo {
  border: 5px solid $cararra;
}

.jumbotron img {
  display: block;
  margin: auto;
}

#ts-cares-logo {
  height: 70px;
  width: auto;
  position: relative;
  top: 10px;
  left: 20px;
}

#shop img {
  display: block;
  margin: auto;
}

#ts-interns {
  @include mq('large') {
    position: relative;
    left: 65px;
    bottom: 50px;
  }
}

#pear-student {
  @include mq('large') {
    position: relative;
    right: 65px;
    bottom: 30px;
  }
}

#astronaut {
  position: relative;
  bottom: 30px;
}

#ts-logo {
  height: 80px;
  width: auto;
  display: block;
  margin: 20px auto;
}

#moon-and-stars {
  display: block;
  margin: 2em auto;
}
