.social {
  margin: 1em 0.25em;
}

#shop img {
  display: block;
  margin: auto;
}

#ts-cares-logo {
  height: 70px;
  width: auto;
  position: relative;
  bottom: 15px;
}

#ts-logo {
  height: 60px;
  width: auto;
  display: block;
  margin: auto;
}
