.social {
  margin: 0 0.25em;
  width: 35px;
}

.shirt-icon {
  margin: 0 10px !important;
  display: inline-block;
  vertical-align: middle;
  @include mq('small') {
    margin: 0 15px !important;
  }
}

.shirt-icon img {
  width: 20px;
  height: auto;
  @include mq('small') {
    width: 30px;
    height: auto;
  }
}

.photo {
  border: 5px solid $cararra;
}

.jumbotron img {
  display: block;
  margin: auto;
}

.product {
  width: 85%;
}

.breaker {
  display: block;
  margin: auto;
}

#ts-cares-logo {
  height: 50px;
  width: auto;
  position: relative;
  bottom: 15px;
  @include mq('small') {
    height: 60px;
    bottom: 5px;
  }
  @include mq('medium') {
    height: 70px;
    bottom: 10px;
  }
}

#buy-button {
  width: 150px;
  height: auto;
  @include mq('small') {
    width: 150px;
    height: auto;
  }
  @include mq('medium') {
    width: 180px;
    height: auto;
  }
  @include mq('large') {
    width: 280px;
    height: auto;
  }
}

#shop img {
  display: block;
  margin: auto;
}

#ts-interns {
  @include mq('medium') {
    position: relative;
    left: 55px;
    bottom: 45px;
  }
  @include mq('large') {
    position: relative;
    left: 65px;
    bottom: 50px;
  }
}

#pear-student {
  @include mq('medium') {
    position: relative;
    right: 55px;
    top: 70px;
  }
  @include mq('large') {
    position: relative;
    right: 65px;
    top: 30px;
  }
}

#astronaut {
  @include mq('small') {
    position: relative;
    bottom: 20px;
  }
}

#ts-logo {
  height: 80px;
  width: auto;
  display: block;
  margin: 20px auto;
}

#moon-and-stars {
  display: block;
  margin: 2em auto;
}
