@include font-face('Droid-Serif');
@include font-face('Roboto-Sans');

body {
  font-family: 'Droid-Serif';
}

h1 {
  font-family: 'Roboto-Sans';
  text-align: center;
  margin: 1em;
}

nav a {
  font-family: 'Roboto-Sans';
  color: $cararra !important;
  font-size: 18px;
}

.jumbotron button {
  font-family: 'Roboto-Sans';
  font-size: 30px;
}

.jumbotron-text {
  font-family: 'Roboto-Sans';
  display: block;
  margin: 10em auto;
  text-align: center;
  color: $cararra;
}

#tagline {
  text-align: center;
  margin: 3em;
}
