@include font-face('Droid-Serif');
@include font-face('Roboto-Black');

p {
  font-family: 'Droid-Serif', serif;
  font-size: 16px;
  line-height: 28px;
}

h1, h2, h3, h4, h5 {
  text-align: center;
}

h1, h2, h3, h4 {
  font-family: 'Roboto-Black', sans-serif;
  margin: 1em;
}

h1, h2 {
  color: $cararra;
}

h3, h5 {
  color: $cloud-burst;
}

h5 {
  font-family: 'Droid-Serif', serif;
  font-style: italic;
}

nav a {
  font-family: 'Roboto-Black', sans-serif;
  color: $cararra !important;
  font-size: 18px;
}

nav ul {
  text-align: center;
}

nav li {
  display: inline-block;
  padding: 15px 25px;
}

nav li:hover {
  padding-bottom: 10px;
  border-bottom: 5px solid $rose-bud;
}

.jumbotron button {
  font-family: 'Roboto-Black', sans-serif;
  font-size: 30px;
}

.jumbotron-text {
  font-family: 'Roboto-Black', sans-serif;
  display: block;
  margin: 10em auto;
  text-align: center;
  color: $cararra;
}

#tagline {
  font-family: 'Droid-Serif', serif;
  text-align: center;
}

#shop p {
  text-align: center;
}
