body {
  background-color: $white;
  color: $cloud-burst;
}

.main {
  padding: 0;
}

.shopify-content {
  display: block;
  margin: auto;
}

.jumbotron {
  margin-top: 100px;
  height: 400px;
  background-image: url(asset_path('2017interns.jpg'));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0px;
  border-radius: 0px !important;
}

.navbar {
  background-color: $cloud-burst;
  border: 0;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-brand {
  padding: 5px 10px;
}

.content {
  margin: 3em 0 0;
  background-image: linear-gradient($cloud-burst, $cornflower);
  color: $cararra;
}

.framed-content {
  border: 5px dashed $cararra;
  padding: 1em 2em;
}

#shop {
  background-color: $white;
  color: $cloud-burst;
  padding: 1em 2em;
  margin-top: 0px;
}

#support {
  padding: 1em 3em 3em;
  margin-bottom: 0;
}

#about {
  display: block;
  margin: 0 auto;
  padding: 5em;
}
