.jumbotron {
  margin-top: 50px;
  height: 700px;
  background-image: url(asset_path('2017interns.jpg'));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron-text {
  display: block;
  margin: 25% auto;
  text-align: center;
}

.navbar {
  background-color: #212D5B;
  border: 0;
}

.navbar-brand {
  padding: 5px 10px;
}
