body {
  background-image: url(asset_path('background.png'));
  color: $cloud-burst;
}

nav .container {
  margin: 0;
  padding: 0;
}

.main {
  padding: 0;
}

.main, .navbar {
  max-width: 1440px;
  @include mq('small') {
    width: 768px;
  }
  @include mq('medium') {
    width: 1024px;
  }
  @include mq('large') {
    width: 1440px;
  }
}

.shopify-content {
  display: block;
  margin: auto;
}

.jumbotron {
  height: 215px;
  margin-top: 90px;
  background-color: $cloud-burst;
  background-image: url(asset_path('thinkshout-cares.jpg'));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0px;
  border-radius: 0px !important;
  position: relative;
  @include mq('small') {
    height: 350px;
  }
  @include mq('medium') {
    height: 465px;
  }
  @include mq('large') {
    height: 635px;
  }

  &::after {
    background: rgba($cloud-burst, 0.5);
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  h1, a {
    display: block;
    position: relative;
    z-index: 1;
  }
}

.navbar {
  background-color: $cloud-burst;
  padding-top: 20px;
  padding-bottom: 20px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mq('small') {
    height: 100px;
  }
}

.navbar-default .navbar-collapse {
  margin-top: 20px;
  border-color: $white;
}

.modal-header {
  border-bottom: none;
}

.modal-body {
  padding-top: 0;
}

.content {
  margin: 0;
  background-image: linear-gradient($cloud-burst, $cornflower);
  color: $cararra;
}

.framed-content {
  border: 5px dashed $cararra;
  padding: 2em 2em;
  margin: 0 1em;
  @include mq('medium') {
    padding: 1em 2em;
  }
}

#collapsed-nav {
  @include mq('small') {
    margin-top: 0;
  }
}

#shop {
  background-color: $white;
  color: $cloud-burst;
  padding: 1em 2em;
  margin-top: 0px;
}

#mission {
  margin-bottom: 0;
  padding: 1em;
  @include mq('large') {
    padding: 1em 3em 3em;
  }
}

#about {
  max-width: 100%;
  margin: 0;
  @include mq('small') {
    margin: 0 3em;
  }
  @include mq('medium') {
    margin: 0 6em;
  }
  @include mq('large') {
    display: block;
    margin: auto;
    padding: 0 11em;
  }
}

#about-ts {
  padding: 0 1.5em;
}
